/*******************/
/* Default styling */

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-style: normal;
  line-height: 1.5;
  font-size: 16px;
}

#calendar {
  font-size: 1.5em;
}

#calendar p {
  margin-top: 1em;
  margin-bottom: 1em;
}

#calendar #monthAndYear {
  font-weight: bold;
}

#calendar button {
  font-size: large;
  vertical-align: middle;
  width: 32%;
}

#calendar table {
  margin: 1em auto 1em auto;
  width: 85%;
  text-align: center;
}

#calendar td,
#calendar th {
  width: 14%;
  /*  height: 2em;*/
  border: solid 1px black;
  vertical-align: middle;
}

#calendar #calendarNav td {
  border: 0px;
}

#calendar .dayshift {
  background-color: #dfa88c;
}

#calendar .nightshift {
  background-color: #9999dd;
}

b {
  font-weight: bold;
}

/******************/
/* Heading styles */
h1 {
  font-size: 36px;
  text-align: center;
  font-weight: bold;
  color: darkslategrey;
  padding: 0.1em;
}

/**********************/
/* Columns and sizing */
* {
  box-sizing: border-box;
}

/* Full screen container to expand nested divs */
.container {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
}
/* Kalari colours
  background: linear-gradient(
    #ffd900,
    #ffd900,
    #ffd900,
    #ff4f00,
    #ff4f00,
    #ff4f00
  );
*/

#column {
  background: cornsilk;
  /* Create white-space and room for footer */
  padding-bottom: 3rem;
  /* Span all the way to the footer */
  min-height: 100%;
}

footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  text-align: center;
  background-color: #efe8bc;
}
